<p>Γεια σας <%= @resource.email %>!</p>

<p>Έχετε κάνει μία αίτηση για τη δημιουργία ενός νέου λογαριασμού στην εφαρμογή για τον Ευρωπαϊκό Οργανισμό Πυρηνικών Ερευνών.</p>
<p> Πριν δημιουργηθεί ο λογαριασμός χρειάζεται μία επιβεβαίωση από μέρους σας, η οποία μπορεί να γίνει
 απλά πατώντας στον επόμενο σύνδεσμο :</p>
<p><%= link_to 'Επιβεβαίωση λογαριασμού', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p> Φιλικά ο διαχειριστής της εφαρμογής για τον Ευρωπαϊκό Οργανισμό Πυρηνικών Ερευνών </p>
