Γεια σας <%= @resource.email %>!</p>

<p>

Έχετε ζητήσει ένα νέο κωδικό πρόσβασης για το λογαριασμό σας στην εφαρμογή για τον Ευρωπαϊκό Οργανισμό Πυρηνικών Ερευνών.
Για να το επιβεβαιώσετε αυτό και για να παραλάβετε ένα νέο κωδικό πρόσβασης μέσω email, ακολουθήστε
την παρακάτω διεύθυνση:.</p>
<p><%= link_to 'Αλλαγή κωδικού', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Εάν δεν ζητήσατε εσείς τον κωδικό παρακαλώ αγνοήστε αυτό το μήνυμα.</p>
<p>Ο κωδικός σας δεν θα αλλάξει έως ότου ακολουθήσετε το παραπάνω link και δημιουργήσετε έναν νέο κωδικό.</p>
